<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <!-- For responsive page -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Basic HTML5 Document" />
    <meta name="keywords" content="HTML5, Responsive" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <title>Better Reddit</title>
    <style>
        /** {
            border: dashed;
        }*/

        .post-div {}

        div.images {
            margin: 0;
        }

        body {
            background-color: rgb(32, 33, 36);
        }

        img {
            max-height: 100vh;
            object-fit: scale-down;
            position: relative;
        }

        div.post-info {
            width: 100%;
            position: absolute;
            display: grid;
            grid-template-columns: 25% 50% 25%;
            padding: 10px;
        }

        p {
            font-family: 'Red Hat Display', sans-serif;
            z-index: 1;
            font-size: 2vh;
            padding: 0;
            margin: 0;
            color: rgb(218, 220, 224);
            text-shadow: 0px 0px 2px #000;
            text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
        }

        p.title {
            text-align: left;
        }

        p.albumLocation {
            text-align: center;
        }

        p.albumLocationBig {
            font-size: 4vh;
        }

        p.subreddit {
            text-align: right;

        }

        .main-div {
            margin: 0;
        }
    </style>

</head>

<body>

    <div class="main-div">

        {{{body}}}

        {{!-- <footer>
            <p>View the code on <a href="https://gitlab.com/gseidell/movielist2"> gitlab</a></p>
        </footer> --}}
    </div>

</body>

</html>