<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <!-- For responsive page -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Basic HTML5 Document" />
    <meta name="keywords" content="HTML5, Responsive" />
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" --}}
    {{!-- integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> --}}
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <title>Better Reddit</title>
    <style>
        * {
            /*border: dashed;*/
            font-family: 'Red Hat Display', sans-serif;
            color: rgb(154, 160, 166);
        }

        body {
            background-color: rgb(32, 33, 36);
        }

        div.main-div {
            width: 100%;
            height: 95%;
            display: grid;
        }

        div.main-div {
            height: 35vh;
        }

        div.searchContainer {
            margin: auto;
        }

        input[type=text] {
            font-size: 3vh;
            width: 65vw;
            padding: 0;
            border-width: 0px;
            background-color: rgb(32, 33, 36);
            border-bottom: 2px solid rgb(114, 137, 218);
        }

        input[type=text]:focus {
            outline: 0px;
        }

        input[type=checkbox] {
            -webkit-appearance: none;
            background-color: rgb(95, 99, 104);
            padding: 1vh;
            border-radius: 3px;
            outline: 0;
            margin-left: 1vw;
        }

        input[type=checkbox]:checked {
            -webkit-appearance: none;
            background-color: rgb(198, 200, 204);
            padding: 1vh;
        }

        input[type=radio] {
            -webkit-appearance: none;
            background-color: rgb(95, 99, 104);
            padding: 1vh;
            border-radius: 100px;
            outline: 0;
            margin-left: 1vw;
        }

        input[type=radio]:checked {
            background-color: rgb(198, 200, 204);
            padding: 1vh;
        }

        input[type=radio]:disabled {
            -webkit-appearance: none;
            background-color: rgb(61, 65, 69);
            padding: 1vh;
        }

        label {
            vertical-align: bottom;
            font-size: 3vh;
        }

        .radioContainer label {
            vertical-align: baseline;
        }

        /*styling for labels after a checked radio*/
        input[type=radio]:checked+label {
            color: rgb(198, 200, 204);
        }

        /*styling for labels after a disabled radio*/
        input[type=radio]:disabled+label {
            color: rgb(61, 65, 69);
        }


        span {
            font-size: 3vh;
        }


        div.radioContainer {
            float: right;
        }
    </style>

</head>

<body>
    <div class="main-div">
        <div></div>
        <div class="searchContainer">
            <span>/r/</span><input type="text" placeholder="subreddit" autofocus>
            <br>
            <label for="top">top</label><input type="checkbox" name="top" id="top" onchange="handleChange();">
            <div class="radioContainer">
                <input type="radio" name="of" id="day" disabled checked=checked><label for="day">day</label>
                <input type="radio" name="of" id="week" disabled><label for="week">week</label>
                <input type="radio" name="of" id="year" disabled><label for="year">year</label>
                <input type="radio" name="of" id="all" disabled><label for="all">all</label>
            </div>
        </div>
        {{!-- <input type="checkbox"> --}}
        <script>
            function handleChange() {
                var checked = document.getElementById("top").checked;
                var radios = document.getElementsByName("of");
                for (var i = 0; i < radios.length; i++) {
                    radios[i].disabled = !checked;
                }
            }
            window.onkeypress = function (e) {
                if (e.key == "Enter") {
                    var dest = document.getElementsByTagName("input")[0].value;
                    var suffix = "";
                    if (document.getElementById("top").checked) {
                        suffix = `/top?t=${Array.from(document.getElementsByName("of")).filter(x => x.checked)[0].id}`;
                    }
                    if (dest != "")
                        window.location.assign(window.location.href + "/r/" + dest + suffix);
                }
            }
        </script>
        {{!-- <footer>
            <p>View the code on <a href="https://gitlab.com/gseidell/movielist2"> gitlab</a></p>
        </footer> --}}
    </div>

</body>

</html>