{{#each data}}
<div class="post-div">
    <div class="post-info">
        <p class="title">{{this.title}} : {{this.score}}</p>
        <p class="albumLocation"></p>
        <p class="subreddit">{{this.subreddit}}</p>
    </div>
    <div class="images">
        {{#each this.urls}}
        <img src="{{this}}" class="img-fluid" />
        {{/each}}
    </div>

</div>


{{/each}}

<script>
    var posts = document.getElementsByClassName("post-div")

    hideAllPosts();
    var currentPost = 0;
    var currentPic = 0;
    showPost();
    showPic();

    //tells the front end where to find next page
    var lolThisIsDumb = "{{{nextLink}}}";

    function showPost() {
        hideAllPosts();
        hideAllPics();
        currentPic = 0;
        showPic();
        posts[currentPost % posts.length].style.display = "block";

    }

    function showPic() {
        hideAllPics();
        var numPics = posts[currentPost % posts.length]
            .getElementsByClassName("images")[0].children.length;
        if (numPics > 1)
            posts[currentPost % posts.length].
                getElementsByClassName("albumLocation")[0]
                .innerHTML = `(${currentPic + 1}/${numPics})`;

        if (currentPic == 0) {
            posts[currentPost % posts.length].
                getElementsByClassName("albumLocation")[0].classList.add("albumLocationBig");
        }
        else {
            posts[currentPost % posts.length].
                getElementsByClassName("albumLocation")[0].classList.remove("albumLocationBig");
        }

        posts[currentPost % posts.length].getElementsByClassName("images")[0]
            .children[currentPic].style.display = "block";
    }

    function hideAllPosts() {
        for (var i = 0; i < posts.length; i++) {
            posts[i].style.display = "none";
        }
    }

    function hideAllPics() {
        for (var i = 0; i < posts.length; i++) {
            var pics = posts[i].getElementsByClassName("images")[0].children;
            for (var j = 0; j < pics.length; j++) {
                pics[j].style.display = "none";
            }
        }
    }
    function goToNextPost() {
        window.location.assign(window.location.origin + lolThisIsDumb);
    }

    window.onkeyup = function (event) {
        if (event.key == "ArrowLeft") {
            if (currentPost != 0)
                currentPost--;
            showPost();
        }
        if (event.key == "ArrowRight") {
            currentPost++;
            //sends user to next page to load more posts
            if (currentPost >= posts.length) {
                goToNextPost();
            }
            showPost();
        }
        if (event.key == "ArrowUp") {
            if (currentPic != 0)
                currentPic--;
            else
                currentPic = posts[currentPost % posts.length]
                    .getElementsByClassName("images")[0].children.length - 1;
            showPic();
        }
        if (event.key == "ArrowDown") {
            if (currentPic != posts[currentPost % posts.length]
                .getElementsByClassName("images")[0].children.length - 1)
                currentPic++;
            else
                currentPic = 0;
            showPic();
        }
    }

</script>